/* IMPORTANT */
/* BEGIN */
@font-face { 
    font-family: OPTIBodoni-Antiqua;
    src: url('../fonts/OPTIBodoni-Antiqua.otf');
} 

html {
    font-family: OPTIBodoni-Antiqua;
}

body {
    background-image: url("../images/backgroundWallpaper.jpg");
}

.title {
    text-align: center;
    font-size: 50px;
    color: white;
}

.menu {
    background-color: black;
    text-align: center;
    font-size: 25px;
    border: 5px solid white;
    border-radius: 10px;
    height: 50px;
    padding-top: 25px;
}

.menuItems {
    border: 3px solid white;
    background-color: white;
    border-radius: 5px;
}
/* END */

.cast {
    background-color: black;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: 50px;
    color: white;
    padding: 15px;
}

.castPerson {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 15px;
}